

*{
    padding: 0%;
    margin: 0%;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    cursor: default;
}
.header-holder{
    margin:0 312px;
    width: 1296px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
}
.logo-img:hover{
    opacity: 0.9;
    cursor: wait;
}
.navigation{
    display: flex;
}
.nav-item{
    margin-right: 30px;
    text-decoration: none;
    color: #333333;
    transition: ease 0.1s;
}
.nav-item:hover{
    opacity: 0.5;
    cursor: pointer;
}
.search{
    display: flex;
    justify-content: space-between;
}
.lupa-img{
    margin-right: 30px;
    transition: ease 0.1s;
}
.lupa-img:hover{
    opacity: 0.8;
}
.search-in{
    cursor: pointer;
    border: 0;
    border-bottom: solid 1px #ccc;
}
.language{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lang-text:hover{
    color: #000;
}
.lang-text{
    margin-right: 15px;
}
.under-header{
    background-image: url(/порт/img/Rectangle\ 23.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.und-head-holder{
    display: flex;
    justify-content: space-between;
    padding: 113px 312px;
}
.un-h-text{
    /* display: flex; */
    align-items: center;
    justify-content: center;
}
.un-h-title{
    font-size: 50px;
    font-weight: 700;
    text-align: left;
    color: #fff;
}
.un-h-text1{
    padding-top: 40px;
    color: #fff;
}
.aboutcom{
    display: flex;

}
.un-h-text2{
    padding-top: 64px;
    color: #fff;
    font-weight: 700;
}
.row{
    position: relative;
    top: 60px;
    left: 74px;
    width: 30px;
    height: 30px;
}
.row:hover{
    cursor: pointer;
    opacity: 0.8a;
}
.tables{
    display: grid;
    grid-template-columns: 306px 306px;
    grid-template-rows: 250px 250px;
    grid-gap: 24px;
    
}
.tab-item{
    transition: all 0.3s;
    border-radius: 20px;
    background-color: #5DB7DE;
    color: #fff;
    padding: 30px 35px;
}
.tab-item:hover{
    cursor: pointer;
    opacity: 0.9;
}
.tab-text{
    padding-top: 116px;
}
.main-holder{
    display: flex;
    justify-content: space-between;
    padding: 113px 312px;
}
.main1-title{
    font-weight: 700;
    font-size: 40px;
    color: #333333;
    padding-bottom: 60px;
}
.main1-text-item{
    display: flex;
    justify-content: space-between;
    color: #3D348B;
    padding-bottom: 30px;
    column-gap: 10px;
}
.pdf-img{
    position: relative;
    top: 8px;
    left: 15px;
    width: 46px;
    height: 34px;
}
.main1-tabs{
    display: grid;
    grid-template-columns: 416px 416px;
    grid-template-rows: 223px 223px 223px;
    grid-gap: 24px;
}
.pdf-img:hover{
    cursor: pointer;
    opacity: 0.95;
}
.main1-tab-item{
    transition: all 0.3s;
    background-color: #3D348B;
    color: #fff;
    border-radius: 20px;
    padding: 35px 30px;
}
.main1-tab-item:hover{
    opacity: 0.95;
    cursor: pointer;
}
.main1-tab-title{
    font-weight: 700;
    font-size: 13px;
}
.main1-tab-text{
    padding-top: 118px;
    font-weight: 700;
    font-size: 19px;
}
.main2{
    background-color: #3d348b10;
}
.main2-title{
    font-weight: 700;
    font-size: 40px;
    color: #333333;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
}
.main2-text{
    padding-right: 134px;
}
.main2-text-item{
    padding-bottom: 16px;
}
.main2-text-itemul{
    padding-bottom: 32px;
    display: flex;
    align-items: center;
}
.dott{
    top: 0;
    left: 0;
    padding-right: 24px;
}
.main2-tabs{
    padding-top: 150px;
    gap: 30px;
}
.main2-tabs-item{
    margin-top: 30px;
    border-radius: 20px;
    background-color: #5DB7DE;
    color: #fff;
    padding: 30px 35px;
}
.main2-tabs-item:hover{
    cursor: pointer;
    text-decoration: underline;
}
.main2-tab-title{
    font-weight: 700;
    padding-bottom: 38px;
}
/* .main3-holder{
    display: flex;
    justify-content: space-between;
    padding: 113px 312px;
} */
.main3-hd{
    padding: 113px 312px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    font-size: 40px;
    font-weight: 700;
    padding-right: 800px;
}
.main3-news{
    display: flex;
    align-items: center;
}
.m3ntitle{
    color: #3D348B;
    font-weight: 400;
    font-size: 25px;
    padding-right: 15px;
    Font-style: Bold;
}
.news{
    padding: 0 312px;
    padding-bottom: 150px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.ntext{
    padding: 0 15px;
}
.news-date{
    font-size: 13px;
    padding-top: 25px;
    padding-bottom: 15px;
}
.news-title{
    font-size: 19px;
    font-weight: 700;
    padding-bottom: 15px;
}
.news-title:hover{
    cursor: pointer;
    text-decoration: underline;
}
.footer1{
    background-color: #3d348bd7;
    height: 120px;
}
.f1-holder{
    padding: 0 312px;
    padding-bottom: 150px;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.address{
    align-items: center;
    display: flex;
}
.add-text{
    color: #fff;
    padding-left: 30px;
    font-weight: 700;
}
.info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}
.tel{
    align-items: center;
    display: flex;
    color: #fff;
}
.tel-logo{
    padding-right: 10px;
}
.email-logo{
    padding-right: 10px;
}
.email{
    align-items: center;
    display: flex;
    color: #fff;
}
.footer2{
    background-color: #3D348B;
}
.footer2-holder{
    padding: 0 312px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.table{
    background-color: #3D348B;
    color: #fff;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
}
.tabl-title{
    font-weight: 700;
    text-transform: uppercase;
}
.tabl-text{
    font-size: 14px;
    line-height: 30px;
}
.end{
    height: 100px;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}